.computer-side {
    float: left;
    width: 50%;
    padding: 40px;
    margin: 0 auto;
    border-bottom: 40px;
}

.user-side {
    float: left;
    width: 50%;
    padding: 40px;
    margin: 0 auto;
    border-bottom: 40px;
}

.vl {
    border-right: 1px solid black;
}

